<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>希望-0.png</string>
            <key>size</key>
            <string>{960,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2566f82efa80caaa3b58adbbb7c2f88:2d589d2e3da0c0faca30fa8bacc5088f:3586ec3e1341c8f8b2b718f29e29217a$</string>
            <key>textureFileName</key>
            <string>希望-0.png</string>
        </dict>
    </dict>
</plist>
