<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,320},{320,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>没关系-0.png</string>
            <key>size</key>
            <string>{500,900}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f28dbf6e2f1a9ffa3379c8d9ab2cfba4:ef04c7e7b0f44be27c403b04e8878a54:11ef1ccebbdc23f8731121a772352e90$</string>
            <key>textureFileName</key>
            <string>没关系-0.png</string>
        </dict>
    </dict>
</plist>
