<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>7_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{0,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{320,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{640,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{960,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1280,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,180}</string>
                <key>textureRect</key>
                <string>{{1600,0},{320,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>肺-0.png</string>
            <key>size</key>
            <string>{1920,180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85fb8e8877c6dd22f9d921153a2c1aed:21f760bc0c98d00b0ab61c51f2175f08:259a54dda62663ef9160e3a293ed6c39$</string>
            <key>textureFileName</key>
            <string>肺-0.png</string>
        </dict>
    </dict>
</plist>
